:root {
  --Dark01: #1c1c1c;
  --Dark03: #777;
  --Dark02: #494949;
  --Dark07: #f4f4f4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* front import and use */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

.manrope-font {
  font-family: "Manrope", sans-serif;
}

/* Shared style  */
.section-wide {
  max-width: 1140px;
}
.primary-btn {
  border: none;
  border-radius: 10px;
  background: linear-gradient(270deg, #f00 0%, #ff8938 100%);
  color: #ffffff;
  padding: 18px 19px;
  font-weight: 700;
  font-size: 1.25rem;
}
.section-header {
  font-size: 2.875rem;
  font-weight: 800;
  color: var(--Dark01);
}
.section-description {
  font-weight: 500;
  color: var(--Dark03);
  line-height: 28px;
}

/* hero section  */
.hero-section {
  margin: auto;
  margin-top: 70px;
  display: flex;
  gap: 15px;
}
.hero-details {
  max-width: 680px;
}
.hero-headline {
  font-size: 5rem;
  font-weight: 800;
  color: var(--Dark01);
  line-height: 100px;
}
.hero-description {
  max-width: 510px;
  font-size: 1.125rem;
  font-weight: 500;
  color: var(--Dark03);
  margin-top: 30px;
  margin-bottom: 30px;
  line-height: 30px;
}
.hero-image-container {
  max-width: 445px;
  margin-top: 60px;
  position: relative;
}
.hero-image-container img {
  width: 100%;
}
.hero-rating {
  width: 255px;
  height: 100px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 7px 50px 0 rgba(0, 0, 0, 0.06);
  display: flex;
  gap: 13px;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 55px;
  left: -25px;
}
.hero-rating h4 {
  font-size: 1.875rem;
  font-weight: 800;
  color: var(--Dark01);
}
.hero-rating p {
  font-weight: 600;
  color: var(--Dark03);
}
.hero-rating i {
  font-size: 2.5rem;
  color: #ffc733;
}

/* Featured Product */
.featured-product {
  margin: auto;
  margin-top: 100px;
}
.featured-product-header {
  text-align: center;
  justify-items: center;
}
.product-section-description {
  max-width: 900px;
  margin-top: 10px;
}
.card-container {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
.card {
  width: 267px;
  height: 391px;
  border-radius: 10px;
  background: linear-gradient(180deg, #f4f4f4 0%, rgba(244, 244, 244, 0) 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.card img {
  width: 135px;
  height: 212px;
}
.product-title {
  font-size: 1.5rem;
  font-weight: 800;
  color: var(--Dark01);
  margin-top: 30px;
  margin-bottom: 10px;
}
.product-description {
  max-width: 208px;
  line-height: normal;
}

/* Great tea  */
.great-tea {
  margin: auto;
  margin-top: 100px;
  display: flex;
  gap: 52px;
  align-items: center;
  justify-content: center;
}
.tea-image-container {
  display: grid;
  grid-template-columns: repeat(2, 238px);
  column-gap: 30px;
  grid-template-rows: repeat(3, 136px);
  row-gap: 30px;
}
.img-card {
  background-color: #f00;
  border-radius: 10px;
}
.img-card2,
.img-card3 {
  grid-row: span 2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.img-card1 {
  opacity: 0.1;
  background: var(--Linear, linear-gradient(270deg, #f00 0%, #ff8938 100%));
}
.img-card2 {
  background: rgba(230, 166, 35, 0.1);
}
.img-card3 {
  background: rgba(87, 118, 57, 0.1);
}
.img-card4 {
  background: linear-gradient(90deg, #d9d9d9 0%, rgba(255, 255, 255, 0) 100%);
}
.tea-details-container {
}
.tea-details-header {
  line-height: normal;
  margin-bottom: 20px;
}
.product-quality {
  font-size: 1.25rem;
  font-weight: 800;
  color: var(--Dark01);
  margin-top: 20px;
  margin-bottom: 10px;
}
.product-quality-description {
  line-height: 28px;
}

/* meet our supur client  */
.meet-client {
  margin: auto;
  margin-top: 100px;
  height: 650px;
  border-radius: 10px;
  background-image: var(
    --Linear,
    linear-gradient(270deg, #f00 0%, #ff8938 100%)
  );
  padding: 70px;
  display: flex;
  align-items: center;
  position: relative;
  gap: 200px;
}
.meet-client-details {
  max-width: 440px;
}
.meet-client-header {
  font-size: 2.875rem;
  font-weight: 800;
  line-height: normal;
  color: var(--Dark07);
}
.meet-client-description {
  font-weight: 500;
  color: var(--Dark07);
  line-height: 28px;
  margin-top: 20px;
  margin-bottom: 30px;
}
.btn-text {
  font-size: 1.25rem;
  font-weight: 700;
  background: var(--Linear, linear-gradient(270deg, #f00 0%, #ff8938 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.secondary-btn {
  background: #fff;
  border: none;
  border-radius: 8px;
  padding: 14px 28px;
}
.back-shadow {
  position: absolute;
  left: 170px;
  bottom: 0px;
}
.custoers-review {
  display: flex;
  flex-direction: column;
  gap: 58px;
  position: relative;
}
.individual-review {
  width: 433px;
  height: 233px;
  border-radius: 8px;
  background: #fff;
  padding: 41px 42px 32px 50px;
  position: relative;
}
.individual-review-description {
  line-height: 28px;
}
.individual-review-subtitle {
  font-weight: 700;
  color: var(--Dark01);
  margin-top: 20px;
  line-height: 28px;
}
.client-img-container {
  background: #fff;
  width: max-content;
  padding: 2px;
  border-radius: 50%;
  display: flex;
  position: absolute;
  top: -20px;
  left: -20px;
}
.individual-review-same {
  opacity: 35%;
}
.individual-review-diff {
  position: absolute;
  top: 150px;
  left: -130px;
}
.individual-review-extra {
  position: absolute;
  right: 30px;
  bottom: 30px;
}

/* News & event  */
.news-event {
  margin: auto;
  margin-top: 100px;
}
.news-event-header {
  text-align: center;
  justify-items: center;
}
.news-event-description {
  max-width: 900px;
  margin-top: 20px;
}
.news-container {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
.news-card {
  padding: 22px;
  border-radius: 10px;
  border: 1px solid var(--Dark-05, #d2d2d2);
  width: 364px;
  height: 448px;
}
.date {
  margin-top: 10px;
}
.news-title {
  max-width: 225px;
  font-size: 1.25rem;
  font-weight: 800;
  margin-top: 10px;
  margin-bottom: 10px;
}
.news-card a p {
  margin-top: 10px;
}
.learn-more {
  font-weight: 700;
  color: var(--Dark01);
  text-decoration: none;
}

/* footer section  */
footer {
  height: 750px;
  background: linear-gradient(
    270deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 137, 56, 0.1) 100%
  );
  margin-top: 100px;
  padding-top: 130px;
}
.footer-contents {
  margin: auto;
}
.footer-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-head img {
  width: 62px;
  height: 64px;
}
.ready-to-start {
  display: flex;
  gap: 40px;
  align-items: center;
}
.ready {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 40px;
  color: var(--Dark02);
}
.footer-content {
  display: flex;
  margin-top: 100px;
  justify-content: space-between;
}
.links {
  display: flex;
  gap: 172px;
}
.links p {
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--Dark01);
  line-height: normal;
}
.links li {
  list-style: none;
  margin-top: 18px;
  color: var(--Dark02);
}
.subscribe {
  max-width: 290px;
}
.subscribe-tile {
  color: var(--Dark01);
  font-family: Manrope;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 40px; /* 166.667% */
}
.email-iput {
  display: flex;
  align-items: center;
  gap: 130px;
  margin-bottom: 25px;
}
.email-iput p{
  font-size: 0.875rem;
  color: var(--Dark02);
}
.email-iput button {
  border-radius: 50%;
  font-size: 1rem;
  height: 6px;
  width: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.subscribe hr {
  width: 273px;
  height: 0;
  fill: var(--Dark02);
  stroke-width: 1px;
  stroke: var(--Dark-02);
}
.social{
  margin-top: 48px;
  display: flex;
  gap: 24px;
  font-size: 1.25rem;
}
.copy{
  text-align: center;
  margin-top: 60px;
}